In [1]:
import json
import numpy as np
import os
import pandas as pd
import urllib2

In [29]:
# coin = 'BTC'
# df_list=[]
# url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_'+coin+'&start=1439014500&end=9999999999&period=300'
# openUrl = urllib2.urlopen(url)
# r = openUrl.read()
# openUrl.close()
# d = json.loads(r.decode())
# print pd.DataFrame(d).shape

(253208, 8)
(253208, 8)
(253208, 8)
(253208, 8)

In [2]:
url = 'https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1356998100&end=9999999999&period=300'
openUrl = urllib2.urlopen(url)
r = openUrl.read()
openUrl.close()
d = json.loads(r.decode())

In [9]:
df = pd.DataFrame(d)
original_columns=[u'close', u'date', u'high', u'low', u'open']
df = df.loc[:,original_columns]
df.head()

   close        date    high    low    open
0  225.0  1424373000    0.33  225.0    0.33
1  225.0  1424373300  225.00  225.0  225.00
2  225.0  1424373600  225.00  225.0  225.00
3  225.0  1424373900  225.00  225.0  225.00
4  225.0  1424374200  225.00  225.0  225.00

In [10]:
df = df.set_index('date')
df.head()

            close    high    low    open
date
1424373000  225.0    0.33  225.0    0.33
1424373300  225.0  225.00  225.0  225.00
1424373600  225.0  225.00  225.0  225.00
1424373900  225.0  225.00  225.0  225.00
1424374200  225.0  225.00  225.0  225.00

In [11]:
df.to_csv('data/historical_bitcoin.csv')

In [17]:
import h5py
with h5py.File(''.join(['data/bitcoin2015to2017_wf.h5']), 'r') as hf:
    datas = hf['inputs'].value
    labels = hf['outputs'].value
    input_times = hf['input_times'].value
    output_times = hf['output_times'].value
    original_inputs = hf['original_inputs'].value
    original_outputs = hf['original_outputs'].value
    original_datas = hf['original_datas'].value

In [ ]:
original_inputs[0].shape

In [55]:
df.to_csv('data/bitcoin2015to2017.csv',index=None)

In [3]:
import pandas as pd
pd.read_csv('data/historical_bitcoin.csv').set_index('date').head()

TypeError: parser_f() got an unexpected keyword argument 'index'